@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,400;10..48,600;10..48,800&family=Open+Sans:wght@400;700&display=swap");
header {
  background-color: #a70021;
}
header nav {
  background-color: transparent;
}
header nav .nav-link {
  color: #ffffff;
}
header nav .nav-link:hover {
  color: #b3ff00;
}

.btn-primary {
  background-color: #a70021;
  border: transparent;
}
.btn-primary:hover {
  background-color: #0d0062;
}

.border-primary {
  color: #0d0062;
  border: 3px solid #a70021 !important;
  margin: 16px;
}

img {
  filter: saturate(1.2);
}
img:hover {
  filter: saturate(1);
}

.carousel {
  height: 100%;
}

.accordion-button {
  color: #ffffff;
}

.accordion-button:not(.collapsed) {
  background-color: #FF7700;
  color: #ffffff;
}

.accordion-button.collapsed {
  background-color: #0d0062;
  color: #ffffff;
}

.tituloPrincipal {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: #ffffff;
}
.tituloPrincipal i {
  font-size: 2rem;
  color: #ffffff;
}
.tituloPrincipal i:hover {
  color: #0d0062;
}
.tituloPrincipal h1 {
  display: inline-block;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
}
.tituloPrincipal h1:hover {
  color: #0d0062;
}

ul {
  display: flex;
  list-style: none;
}
ul li a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: #ffffff;
}
ul li a:hover {
  color: #0d0062;
}

.hero {
  width: 100%;
  display: inline-block;
  position: relative;
  background-color: #0d0062;
}
.hero h1 {
  color: #ffffff;
}
.hero h2 {
  color: #ffffff;
  margin-bottom: 10px;
  font-weight: 500;
}
.hero h2 span {
  font-weight: 700;
  position: relative;
  padding: 0 5px;
}
.hero p {
  color: #ffffff;
  margin-bottom: 30px;
  font-size: 1rem;
}
.hero a {
  background-color: #00fffb;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: #ffffff;
  padding: 5px 15px;
  font-weight: 700;
}
.hero a:hover {
  background-color: #0d0062;
}

.aboutHero {
  width: 100%;
  display: inline-block;
  position: relative;
  background: linear-gradient(to left top, #004777, #00AFB5);
}
.aboutHero h1 {
  color: #ffffff;
}
.aboutHero h2 {
  margin-bottom: 10px;
  font-size: 3rem;
  font-weight: 500;
}
.aboutHero h2 span {
  font-weight: 700;
  position: relative;
  padding: 0 5px;
}
.aboutHero p {
  color: #ffffff;
  margin-bottom: 30px;
  font-size: 1rem;
}
.aboutHero a {
  background-color: #00fffb;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: #ffffff;
  padding: 5px 15px;
  font-weight: 700;
}
.aboutHero a:hover {
  background-color: #0d0062;
}

.animate__animated.animate__zoomIn {
  --animate-duration: 5s;
}

@media (max-width: 767px) {
  .offcanvas.offcanvas-end {
    background-color: #2b0043 !important;
  }
  .offcanvas.offcanvas-end a:hover {
    color: #b3ff00;
  }
  .offcanvas-title {
    color: #b3ff00 !important;
  }
  .navbar-toggler:hover {
    color: #00fffb !important;
  }
  .d-block {
    display: block;
  }
}
.disable-on-desktop {
  display: none;
}

@media screen and (max-width: 500px) {
  .disable-on-mobile {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .display-on-mobile {
    display: block;
  }
}

.display-on-desktop {
  display: block;
}

.typo-change {
  animation: TypoChange 5s ease-in infinite;
}

@keyframes TypoChange {
  0% {
    color: #ffffff;
  }
  50% {
    color: #b3ff00;
  }
}
footer {
  background-color: #FF7700;
  padding: 2rem;
  bottom: 0;
  left: 0;
  color: #ffffff;
  text-align: center;
}
footer ul {
  justify-content: space-evenly;
  display: flex;
  list-style: none;
}
footer ul li:hover {
  color: #b3ff00;
}

.offcanvas.offcanvas-end {
  background-color: #FF7700 !important;
}
.offcanvas.offcanvas-end a {
  font-size: 1.5rem;
}
.offcanvas.offcanvas-end a:hover {
  color: #b3ff00;
}

.bg-dark {
  background-color: #FF7700 !important;
}

.offcanvas-title {
  color: #b3ff00 !important;
}

.navbar-toggler {
  position: fixed !important;
  top: 12px !important;
}
.navbar-toggler:hover {
  color: #00fffb !important;
}

.accordion {
  --bs-accordion-bg: #0d0062 !important;
  color: white !important;
}

.accordion-body {
  color: white !important;
}

.accordion-button:not(.collapsed) {
  background-color: #FF7700 !important;
  color: white !important;
}

.form-check {
  padding: 0 !important;
}

/*# sourceMappingURL=estilo.css.map */
