@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,400;10..48,600;10..48,800&family=Open+Sans:wght@400;700&display=swap");
header {
  background-color: #a60aa4;
}
header nav {
  background-color: transparent;
}
header nav .nav-link {
  color: white;
}
header nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.8);
}

.btn-primary {
  background-color: #a60aa4;
  border: transparent;
}
.btn-primary:hover {
  background-color: #770045;
}

.border-primary {
  color: #770045;
  border: 3px solid #a60aa4 !important;
  margin: 16px;
}

.tituloPrincipal {
  text-decoration: none;
  color: #ffffff;
}
.tituloPrincipal i {
  font-size: 2rem;
  color: #ffffff;
}
.tituloPrincipal h1 {
  display: inline-block;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
}

ul {
  display: flex;
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: #ffffff;
}
ul li a:hover {
  color: #770045;
}

.hero {
  width: 100%;
  display: inline-block;
  position: relative;
  background-color: #2b0043;
}
.hero h1 {
  color: #ffffff;
}
.hero h2 {
  margin-bottom: 10px;
  font-size: 3rem;
  font-weight: 500;
}
.hero h2 span {
  font-weight: 700;
  position: relative;
  padding: 0 5px;
}
.hero p {
  color: #ffffff;
  margin-bottom: 30px;
  font-size: 1rem;
}
.hero a {
  background-color: #b20068;
  text-decoration: none;
  color: #ffffff;
  padding: 5px 15px;
  font-weight: 700;
}
.hero a:hover {
  background-color: #770045;
}

.animate__animated.animate__zoomIn {
  --animate-duration: 5s;
}

.introServicios {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border: 3px solid #770045;
}
.introServicios h2 {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.imagenServicio {
  border-radius: 10px;
  padding: 4px;
  max-width: 100%;
  height: auto;
  filter: grayscale(30%);
}
.imagenServicio:hover {
  filter: grayscale(0%);
  transform: rotate(180deg);
}

.imagenServicio-portafolio {
  border-radius: 10px;
  padding: 4px;
  max-width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .offcanvas.offcanvas-end {
    background-color: #2b0043 !important;
  }
  .offcanvas.offcanvas-end a:hover {
    color: #b3ff00;
  }
  .offcanvas-title {
    color: #b3ff00 !important;
  }
  .navbar-toggler:hover {
    color: #b20068 !important;
  }
}
.typo-change {
  animation: TypoChange 5s ease-in infinite;
}

@keyframes TypoChange {
  0% {
    font-family: "Bricolage Grotesque", sans-serif;
    font-family: "Open Sans", sans-serif;
    color: #b3ff00;
  }
  50% {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    color: #A3FFDB;
  }
  100% {
    font-family: "Montserrat", sans-serif;
  }
}
footer {
  background-color: rgba(0, 0, 0, 0.4745098039);
  padding: 2rem;
  bottom: 0;
  left: 0;
  color: #ffffff;
  text-align: center;
}
footer ul {
  justify-content: space-between;
  display: flex;
  list-style: none;
}
footer ul li:hover {
  color: #b3ff00;
}

.carousel-inner {
  max-height: 500px;
  background-size: auto;
}

.offcanvas.offcanvas-end {
  background-color: rgba(0, 0, 0, 0.4745098039) !important;
}
.offcanvas.offcanvas-end a {
  font-size: 1.5rem;
}
.offcanvas.offcanvas-end a:hover {
  color: #b3ff00;
}

.bg-dark {
  background-color: rgba(0, 0, 0, 0.4745098039) !important;
}

.offcanvas-title {
  color: #b3ff00 !important;
}

.navbar-toggler:hover {
  color: #b20068 !important;
}

.accordion {
  --bs-accordion-bg: #969696 !important;
  color: white !important;
}

.accordion-body {
  color: white !important;
}

.accordion-button:not(.collapsed) {
  background-color: #240020 !important;
  color: white !important;
}

.form-check {
  padding: 0 !important;
}

/*# sourceMappingURL=estilo.css.map */
