.accordion  {
    --bs-accordion-bg: #0d0062 !important;
    color: white !important;
}

.accordion-body {
    color: white !important;
}

.accordion-button:not(.collapsed) {
    background-color: #FF7700 !important;
    color: white !important;
}

.form-check {
    padding: 0 !important;
}