//ANIMACIONES

.typo-change {
    animation: TypoChange 5s ease-in infinite;
}

    @keyframes TypoChange {
        0% {
        color: $color-fuentes;
        }

        50% {
         color: $acento;
        }
    }