// Header and Navigation
header {
  background-color: $primary-color;
  nav {
    background-color: transparent;
    .nav-link {
      color: $color-fuentes;
      &:hover {
        color: $acento;
      }
    }
  }
}

.btn-primary {
  background-color: $primary-color;
  border: transparent;
  &:hover {
    background-color: $color-botones-secundarios;
  }
}

.border-primary {
 color: $color-botones-secundarios;
 border: 3px solid $primary-color !important;
 margin: 16px;
}

img {
  filter: saturate(1.2);
  &:hover {
    filter: saturate(1);
  }
}

.carousel {
  height: 100%;
}

.accordion-button {
  color: $color-fuentes; 
}

.accordion-button:not(.collapsed) {
  background-color: $color-fondo-secundario;
  color: $color-fuentes;
}

.accordion-button.collapsed {
  background-color: $color-botones-secundarios;
  color: $color-fuentes;
}

