//MEDIAS
@media (max-width: 767px) {
    .offcanvas.offcanvas-end {
        background-color: $color-fondo !important;
        a {
            &:hover {
                color: $acento;
            }
        }
    }
    .offcanvas-title {
        color: $acento !important;
    }
    
    .navbar-toggler:hover {
        color: $color-botones !important;
    }

    .d-block {
        display: block;
    }
    }

    .disable-on-desktop {
        display: none;
    }
    .disable-on-mobile {
        @media screen and (max-width: 500px) {
            display: none;
        }
      }
    
    .display-on-mobile {
        @media screen and (max-width: 500px) {
            display: block;
        }
    }
    
    .display-on-desktop {
        display: block;
    }
    