//VARIABLES 

$color-fuentes: #ffffff;
$color-fondo: #2b0043;
$color-fondo-secundario: #FF7700;
$color-botones:  #00fffb;
$color-botones-secundarios: #0d0062;

$primario: #00e2e6;
$secundario: #7449ff;
$triada: #0011ff;
$complemento: #ff0080;
$acento: #b3ff00;

$primary-color: #a70021;
